# SEIS 631 - Final Project - Group 4
Yue Cade \
Tony Challeen \
Siphosenkosi Mpofu \
Jason Shapiro \
Brian Susick

In [18]:
# IMPORTS
import csv
import pandas as pd
import json
import requests

In [19]:
# PARKING LOT

#regions
northeast = [     "CT", "ME", "MA", "NH", "RI", "VT",     "NJ", "NY", "PA"] 
midwest = [     "IL", "IN", "IA", "KS", "MI",     "MN", "MO", "NE", "ND", "OH",     "SD", "WI"] 
south = [     "AL", "AR", "DE", "FL", "GA",     "KY", "LA", "MD", "MS", "NC",     "OK", "SC", "TN", "TX", "VA",     "WV"] 
west = [     "AK", "AZ", "CA", "CO", "HI",     "ID", "MT", "NV", "NM", "OR", "UT", "WA", "WY" ]

Q1) Show me the market trends to help me decide. Which US real-estate market is doing best overall.

* Assumptions:
    * For general market trends, we're going to stick with smoothed/seasonal data
    * The market was affected by the pandemic, so we're going to stick with short term data, 1-2 years.
    * To begin, we'll look at home value forcasts to get a general sense of which regional markets we want to focus in on

In [20]:
# Load the data

# In the Zillow Home Value Forecast (ZHVF), a numerical value like 0.2 represents the 
# projected percentage change in home values over a specified period. For instance, a 
# forecast of 0.2% indicates an expected increase of 0.2% in home values, while a forecast 
# of -0.2% suggests an anticipated decrease of 0.2%. These projections are based on the 
# Zillow Home Value Index (ZHVI), which measures the typical home value and market changes 
# across various regions and housing types.

df = pd.read_csv("data/Metro_zhvf_growth_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv")

display(df.head(5))  
display(df.tail(5))
display(df.count())

,RegionID,SizeRank,RegionName,RegionType,StateName,BaseDate,2024-11-30,2025-01-31,2025-10-31
0,102001,0,United States,country,NaN,2024-10-31,0.2,0.6,2.9
1,394913,1,"New York, NY",msa,NY,2024-10-31,0.3,0.5,1.5
2,753899,2,"Los Angeles, CA",msa,CA,2024-10-31,0.2,0.4,2.3
3,394463,3,"Chicago, IL",msa,IL,2024-10-31,0.1,0.2,1.1
4,394514,4,"Dallas, TX",msa,TX,2024-10-31,-0.2,-0.7,1.2

,RegionID,SizeRank,RegionName,RegionType,StateName,BaseDate,2024-11-30,2025-01-31,2025-10-31
890,753929,935,"Zapata, TX",msa,TX,2024-10-31,-0.8,-2.6,-7.2
891,394743,936,"Ketchikan, AK",msa,AK,2024-10-31,0.2,0.1,-0.9
892,753874,937,"Craig, CO",msa,CO,2024-10-31,0.4,1.0,4.4
893,395188,938,"Vernon, TX",msa,TX,2024-10-31,-1.4,-2.2,-4.3
894,394767,939,"Lamesa, TX",msa,TX,2024-10-31,-0.2,-0.7,-4.5

RegionID      895
SizeRank      895
RegionName    895
RegionType    895
StateName     894
BaseDate      895
2024-11-30    895
2025-01-31    895
2025-10-31    895
dtype: int64

In [21]:
# List number of rows
print("Before: number of rows: ", df.shape)
 
# Drop the duplicates - (no duplicates found)
df = df.drop_duplicates()
print("After: number of rows: ", df.shape)
 
# Drop Missing/Null Values (no null values found)
print("Sum of null values: ", df.isnull().sum())
df = df.dropna()    # Dropping the missing values.
display(df.count())

display(df.head(5))
display(df.tail(5))

# This data is exceptionally clean - we only needed to drop the 1st row which isn't at the state level

Before: number of rows:  (895, 9)
After: number of rows:  (895, 9)
Sum of null values:  RegionID      0
SizeRank      0
RegionName    0
RegionType    0
StateName     1
BaseDate      0
2024-11-30    0
2025-01-31    0
2025-10-31    0
dtype: int64

RegionID      894
SizeRank      894
RegionName    894
RegionType    894
StateName     894
BaseDate      894
2024-11-30    894
2025-01-31    894
2025-10-31    894
dtype: int64

,RegionID,SizeRank,RegionName,RegionType,StateName,BaseDate,2024-11-30,2025-01-31,2025-10-31
1,394913,1,"New York, NY",msa,NY,2024-10-31,0.3,0.5,1.5
2,753899,2,"Los Angeles, CA",msa,CA,2024-10-31,0.2,0.4,2.3
3,394463,3,"Chicago, IL",msa,IL,2024-10-31,0.1,0.2,1.1
4,394514,4,"Dallas, TX",msa,TX,2024-10-31,-0.2,-0.7,1.2
5,394692,5,"Houston, TX",msa,TX,2024-10-31,-0.2,-0.6,0.6

,RegionID,SizeRank,RegionName,RegionType,StateName,BaseDate,2024-11-30,2025-01-31,2025-10-31
890,753929,935,"Zapata, TX",msa,TX,2024-10-31,-0.8,-2.6,-7.2
891,394743,936,"Ketchikan, AK",msa,AK,2024-10-31,0.2,0.1,-0.9
892,753874,937,"Craig, CO",msa,CO,2024-10-31,0.4,1.0,4.4
893,395188,938,"Vernon, TX",msa,TX,2024-10-31,-1.4,-2.2,-4.3
894,394767,939,"Lamesa, TX",msa,TX,2024-10-31,-0.2,-0.7,-4.5

In [29]:
# Rename columns
df = df.rename(columns={"2024-11-30": "Month Ahead", "2025-01-31": "Quarter Ahead", "2025-10-31": "Year Ahead"})
df.head(5)

# View columns to see where the data is redundant/repeated
display(df['RegionType'].unique())
display(df['BaseDate'].unique())
display(df['RegionName'].unique())

# Drop redundant columns
df = df.drop(['RegionType', 'BaseDate'], axis=1)
display(df.head(5))

array(['msa'], dtype=object)

array(['2024-10-31'], dtype=object)

array(['New York, NY', 'Los Angeles, CA', 'Chicago, IL', 'Dallas, TX',
       'Houston, TX', 'Washington, DC', 'Philadelphia, PA', 'Miami, FL',
       'Atlanta, GA', 'Boston, MA', 'Phoenix, AZ', 'San Francisco, CA',
       'Riverside, CA', 'Detroit, MI', 'Seattle, WA', 'Minneapolis, MN',
       'San Diego, CA', 'Tampa, FL', 'Denver, CO', 'Baltimore, MD',
       'St. Louis, MO', 'Orlando, FL', 'Charlotte, NC', 'San Antonio, TX',
       'Portland, OR', 'Sacramento, CA', 'Pittsburgh, PA',
       'Cincinnati, OH', 'Austin, TX', 'Las Vegas, NV', 'Kansas City, MO',
       'Columbus, OH', 'Indianapolis, IN', 'Cleveland, OH',
       'San Jose, CA', 'Nashville, TN', 'Virginia Beach, VA',
       'Providence, RI', 'Jacksonville, FL', 'Milwaukee, WI',
       'Oklahoma City, OK', 'Raleigh, NC', 'Memphis, TN', 'Richmond, VA',
       'Louisville, KY', 'New Orleans, LA', 'Salt Lake City, UT',
       'Hartford, CT', 'Buffalo, NY', 'Birmingham, AL', 'Rochester, NY',
       'Grand Rapids, MI', 'Tucson, AZ', 'Urban Honolulu, HI',
       'Tulsa, OK', 'Fresno, CA', 'Worcester, MA', 'Omaha, NE',
       'Bridgeport, CT', 'Greenville, SC', 'Albuquerque, NM',
       'Bakersfield, CA', 'Albany, NY', 'Knoxville, TN',
       'Baton Rouge, LA', 'McAllen, TX', 'New Haven, CT', 'El Paso, TX',
       'Allentown, PA', 'Oxnard, CA', 'Columbia, SC', 'North Port, FL',
       'Charleston, SC', 'Greensboro, NC', 'Stockton, CA',
       'Cape Coral, FL', 'Boise City, ID', 'Colorado Springs, CO',
       'Little Rock, AR', 'Lakeland, FL', 'Akron, OH', 'Des Moines, IA',
       'Springfield, MA', 'Ogden, UT', 'Madison, WI', 'Winston, NC',
       'Deltona, FL', 'Syracuse, NY', 'Provo, UT', 'Toledo, OH',
       'Wichita, KS', 'Durham, NC', 'Augusta, GA', 'Palm Bay, FL',
       'Jackson, MS', 'Harrisburg, PA', 'Spokane, WA', 'Scranton, PA',
       'Chattanooga, TN', 'Modesto, CA', 'Lancaster, PA', 'Portland, ME',
       'Youngstown, OH', 'Lansing, MI', 'Fayetteville, AR',
       'Fayetteville, NC', 'Lexington, KY', 'Pensacola, FL',
       'Santa Rosa, CA', 'Reno, NV', 'Huntsville, AL',
       'Port St. Lucie, FL', 'Lafayette, LA', 'Myrtle Beach, SC',
       'Springfield, MO', 'Visalia, CA', 'Killeen, TX', 'Asheville, NC',
       'York, PA', 'Vallejo, CA', 'Santa Maria, CA', 'Salinas, CA',
       'Salem, OR', 'Mobile, AL', 'Reading, PA', 'Corpus Christi, TX',
       'Brownsville, TX', 'Manchester, NH', 'Fort Wayne, IN',
       'Gulfport, MS', 'Salisbury, MD', 'Flint, MI', 'Peoria, IL',
       'Canton, OH', 'Savannah, GA', 'Anchorage, AK', 'Beaumont, TX',
       'Shreveport, LA', 'Trenton, NJ', 'Montgomery, AL', 'Davenport, IA',
       'Tallahassee, FL', 'Eugene, OR', 'Naples, FL', 'Ann Arbor, MI',
       'Ocala, FL', 'Hickory, NC', 'Huntington, WV', 'Fort Collins, CO',
       'Rockford, IL', 'Lincoln, NE', 'Gainesville, FL', 'Boulder, CO',
       'Green Bay, WI', 'Columbus, GA', 'South Bend, IN',
       'Spartanburg, SC', 'Greeley, CO', 'Lubbock, TX', 'Clarksville, TN',
       'Roanoke, VA', 'Evansville, IN', 'Kingsport, TN', 'Kennewick, WA',
       'Utica, NY', 'Hagerstown, MD', 'Duluth, MN', 'Olympia, WA',
       'Longview, TX', 'Wilmington, NC', 'San Luis Obispo, CA',
       'Crestview, FL', 'Merced, CA', 'Waco, TX', 'Cedar Rapids, IA',
       'Atlantic City, NJ', 'Bremerton, WA', 'Sioux Falls, SD',
       'Santa Cruz, CA', 'Erie, PA', 'Norwich, CT', 'Amarillo, TX',
       'Laredo, TX', 'Tuscaloosa, AL', 'College Station, TX',
       'Kalamazoo, MI', 'Lynchburg, VA', 'Charleston, WV', 'Yakima, WA',
       'Fargo, ND', 'Binghamton, NY', 'Fort Smith, AR', 'Appleton, WI',
       'Topeka, KS', 'Macon, GA', 'Tyler, TX', 'Barnstable Town, MA',
       'Daphne, AL', 'Bellingham, WA', 'Burlington, VT', 'Rochester, MN',
       'Lafayette, IN', 'Champaign, IL', 'Medford, OR',
       'Charlottesville, VA', 'Lake Charles, LA', 'Las Cruces, NM',
       'Chico, CA', 'Hilton Head Island, SC', 'Athens, GA',
       'Lake Havasu City, AZ', 'Columbia, MO', 'Springfield, IL',
       'Houma, LA', 'Monroe, LA', 'Elkhart, IN', 'Johnson City, TN',
       'Yuma, AZ', 'Gainesville, GA', 'Jacksonville, NC', 'Florence, SC',
       'Hilo, HI', 'St. Cloud, MN', 'Racine, WI', 'Bend, OR',
       'Saginaw, MI', 'Warner Robins, GA', 'Terre Haute, IN',
       'Torrington, CT', 'Punta Gorda, FL', 'Billings, MT', 'Redding, CA',
       'Kingston, NY', 'Panama City, FL', 'Joplin, MO', 'Dover, DE',
       'El Centro, CA', 'Jackson, TN', 'Yuba City, CA',
       'Bowling Green, KY', 'St. George, UT', 'Muskegon, MI',
       'Abilene, TX', 'Iowa City, IA', 'Auburn, AL', 'Midland, TX',
       'Hattiesburg, MS', 'Bloomington, IL', 'Oshkosh, WI',
       'Eau Claire, WI', 'Greenville, NC', 'Burlington, NC',
       'Waterloo, IA', "Coeur d'Alene, ID", 'East Stroudsburg, PA',
       'Pueblo, CO', 'Blacksburg, VA', 'Wausau, WI', 'Kahului, HI',
       'Janesville, WI', 'Tupelo, MS', 'Bloomington, IN', 'Odessa, TX',
       'Jackson, MI', 'State College, PA', 'Sebastian, FL', 'Madera, CA',
       'Decatur, AL', 'Chambersburg, PA', 'Vineland, NJ',
       'Idaho Falls, ID', 'Grand Junction, CO', 'Elizabethtown, KY',
       'Niles, MI', 'Monroe, MI', 'Santa Fe, NM', 'Concord, NH',
       'Alexandria, LA', 'Traverse City, MI', 'Bangor, ME',
       'Homosassa Springs, FL', 'Hanford, CA', 'Jefferson City, MO',
       'Florence, AL', 'Dothan, AL', 'London, KY', 'Albany, GA',
       'Sioux City, IA', 'Wichita Falls, TX', 'Texarkana, TX',
       'Valdosta, GA', 'Logan, UT', 'Flagstaff, AZ', 'Rocky Mount, NC',
       'Pottsville, PA', 'Dalton, GA', 'Lebanon, PA', 'Morristown, TN',
       'Winchester, VA', 'Wheeling, WV', 'Morgantown, WV',
       'La Crosse, WI', 'Napa, CA', 'Rapid City, SD', 'Sumter, SC',
       'Eureka, CA', 'Springfield, OH', 'Harrisonburg, VA',
       'Battle Creek, MI', 'Sherman, TX', 'Manhattan, KS',
       'Carbondale, IL', 'Johnstown, PA', 'Jonesboro, AR', 'Bismarck, ND',
       'Hammond, LA', 'Pittsfield, MA', 'Mount Vernon, WA',
       'Jamestown, NY', 'The Villages, FL', 'Albany, OR',
       'Glens Falls, NY', 'Lawton, OK', 'Cleveland, TN',
       'Sierra Vista, AZ', 'Ames, IA', 'Mansfield, OH', 'Staunton, VA',
       'Augusta, ME', 'Altoona, PA', 'New Bern, NC', 'Farmington, NM',
       'St. Joseph, MO', 'San Angelo, TX', 'Wenatchee, WA',
       'Owensboro, KY', 'Holland, MI', 'Lumberton, NC', 'Lawrence, KS',
       'Goldsboro, NC', 'Watertown, NY', 'Sheboygan, WI', 'Weirton, WV',
       'Missoula, MT', 'Bozeman, MT', 'Anniston, AL', 'Beckley, WV',
       'Williamsport, PA', 'Brunswick, GA', 'Twin Falls, ID',
       'California, MD', 'Cookeville, TN', 'Muncie, IN',
       'Michigan City, IN', 'Roseburg, OR', 'Lewiston, ME',
       'Longview, WA', 'Ogdensburg, NY', 'Kankakee, IL', 'Bluefield, WV',
       'Show Low, AZ', 'Richmond, KY', 'Tullahoma, TN', 'Whitewater, WI',
       'Ithaca, NY', 'Grand Forks, ND', 'Decatur, IL', 'LaGrange, GA',
       'Bay City, MI', 'Fond du Lac, WI', 'Gettysburg, PA', 'Gadsden, AL',
       'Kalispell, MT', 'Danville, VA', 'Mankato, MN', 'Lima, OH',
       'Salem, OH', 'Truckee, CA', 'Sebring, FL', 'Cheyenne, WY',
       'Hot Springs, AR', 'Adrian, MI', 'Shelby, NC', 'Dubuque, IA',
       'Meridian, MS', 'Pinehurst, NC', 'Paducah, KY', 'Victoria, TX',
       'Rome, GA', 'Sevierville, TN', 'Moses Lake, WA', 'Ashtabula, OH',
       'Cape Girardeau, MO', 'Albertville, AL', 'Fairbanks, AK',
       'Brainerd, MN', 'Cumberland, MD', 'Ocean City, NJ',
       'Corvallis, OR', 'Pocatello, ID', 'Corning, NY',
       'New Philadelphia, OH', 'Sunbury, PA', 'Ukiah, CA',
       'Hermiston, OR', 'Clarksburg, WV', 'Parkersburg, WV',
       'Beaver Dam, WI', 'Pine Bluff, AR', 'Grants Pass, OR',
       'Cullman, AL', 'Lufkin, TX', 'Zanesville, OH', 'New Castle, PA',
       'Oak Harbor, WA', 'Orangeburg, SC', 'Watertown, WI',
       'Meadville, PA', 'Elmira, NY', 'Great Falls, MT', 'Laurel, MS',
       'Russellville, AR', 'Indiana, PA', 'Midland, MI', 'Kokomo, IN',
       'Bloomsburg, PA', 'Opelousas, LA', 'Helena, MT', 'Key West, FL',
       'Talladega, AL', 'Stillwater, OK', 'Columbus, IN', 'Athens, TX',
       'Centralia, WA', 'Manitowoc, WI', 'Hinesville, GA', 'DuBois, PA',
       'Warsaw, IN', 'Plattsburgh, NY', 'Statesboro, GA', 'Casper, WY',
       'Wilson, NC', 'Glenwood Springs, CO', 'Seneca, SC', 'Minot, ND',
       'Olean, NY', 'Chillicothe, OH', 'Searcy, AR', 'Grand Island, NE',
       'Port Angeles, WA', 'Auburn, NY', 'Huntsville, TX', 'Keene, NH',
       'Heber, UT', 'Quincy, IL', 'Sandusky, OH', 'Findlay, OH',
       'Frankfort, KY', 'Danville, IL', 'Aberdeen, WA', 'Portsmouth, OH',
       'Somerset, PA', 'Wisconsin Rapids, WI', 'Jefferson, GA',
       'Kapaa, HI', 'Palatka, FL', 'Gallup, NM', 'Hobbs, NM',
       'Shawnee, OK', 'Mount Airy, NC', 'Stevens Point, WI',
       'Greeneville, TN', 'Greenwood, SC', 'Lake City, FL',
       'Klamath Falls, OR', 'Morehead City, NC', 'Clearlake, CA',
       'Alamogordo, NM', 'Roanoke Rapids, NC', 'Farmington, MO',
       'Muskogee, OK', 'Marion, IN', 'Faribault, MN', 'Richmond, IN',
       'Marquette, MI', 'North Wilkesboro, NC', 'Mount Pleasant, MI',
       'Rio Grande City, TX', 'Marion, OH', 'Baraboo, WI',
       'Red Bluff, CA', 'Marinette, WI', 'Roswell, NM', 'Shelton, WA',
       'Dublin, GA', 'Nacogdoches, TX', 'Somerset, KY', 'Coos Bay, OR',
       'Forest City, NC', 'Martinsville, VA', 'Rexburg, ID',
       'Lewiston, ID', 'Laconia, NH', 'Georgetown, SC', 'Athens, OH',
       'Sanford, NC', 'Enid, OK', 'Mount Vernon, OH', 'Walla Walla, WA',
       'Albemarle, NC', 'Hutchinson, KS', 'Hudson, NY', 'Starkville, MS',
       'Carlsbad, NM', 'Gillette, WY', 'Sturgis, MI', 'Rutland, VT',
       'Crossville, TN', 'Sayre, PA', 'Salina, KS', 'Marietta, OH',
       'Fergus Falls, MN', 'Barre, VT', 'Fremont, OH', 'Oneonta, NY',
       'Columbus, MS', 'Norwalk, OH', 'Batavia, NY', 'Ardmore, OK',
       'Palestine, TX', 'Fort Madison, IA', 'Charleston, IL',
       'Fernley, NV', 'Carson City, NV', 'Eagle Pass, TX', 'Calhoun, GA',
       'Cullowhee, NC', 'Kearney, NE', 'Fairmont, WV', 'Ontario, OR',
       'Gaffney, SC', 'Picayune, MS', 'Sterling, IL', 'Branson, MO',
       'Cedar City, UT', 'Waycross, GA', 'Oxford, MS', 'Jasper, IN',
       'Edwards, CO', 'Durango, CO', 'Kinston, NC', 'Sonora, CA',
       'Tiffin, OH', 'Batesville, AR', 'Point Pleasant, WV', 'Elko, NV',
       'Danville, KY', 'Glasgow, KY', 'St. Marys, GA', 'Boone, NC',
       'Warrensburg, MO', 'Gloversville, NY', 'Fort Leonard Wood, MO',
       'Poplar Bluff, MO', 'Elizabeth City, NC', 'Payson, AZ',
       'Athens, TN', 'Enterprise, AL', 'Ashland, OH', 'Scottsboro, AL',
       'Milledgeville, GA', 'Kerrville, TX', 'Bartlesville, OK',
       'Platteville, WI', 'Corsicana, TX', 'Greenville, OH',
       'Rochelle, IL', 'Douglas, GA', 'Oil City, PA', 'Mason City, IA',
       'Jacksonville, TX', 'Galesburg, IL', 'Pahrump, NV', 'Paris, TX',
       'Winona, MN', 'Newport, OR', 'Morgan City, LA', 'Shelbyville, TN',
       'Amsterdam, NY', 'Ozark, AL', 'Alice, TX',
       'Gardnerville Ranchos, NV', 'Fort Polk South, LA',
       'Ca-¦on City, CO', 'Natchez, MS', 'New Castle, IN', 'Clovis, NM',
       'Norfolk, NE', 'Cadillac, MI', 'Ruston, LA', 'Sidney, OH',
       'Pullman, WA', 'Malone, NY', 'Del Rio, TX', 'Blackfoot, ID',
       'Red Wing, MN', 'Nogales, AZ', 'Tahlequah, OK', 'Kendallville, IN',
       'Montrose, CO', 'Cortland, NY', 'Mount Sterling, KY',
       'Clinton, IA', 'Sandpoint, ID', 'Bardstown, KY', 'Wapakoneta, OH',
       'Plymouth, IN', 'Lewistown, PA', 'Bemidji, MN',
       'Bellefontaine, OH', 'Seymour, IN', 'Burley, ID', 'Durant, OK',
       'Moultrie, GA', 'Bogalusa, LA', 'Cornelia, GA', 'Hillsdale, MI',
       'Thomasville, GA', 'Paragould, AR', 'Greenville, MS',
       'Burlington, IA', 'Madisonville, KY', 'Menomonie, WI',
       'Shawano, WI', 'Vicksburg, MS', 'Bedford, IN', 'Washington, NC',
       'Freeport, IL', 'Harrison, AR', 'Rolla, MO', 'Coldwater, MI',
       'Marion, NC', 'Huntingdon, PA', 'Ellensburg, WA', 'Ponca City, OK',
       'Lawrenceburg, TN', 'McAlester, OK', 'Mount Pleasant, TX',
       'Willmar, MN', 'Rockingham, NC', 'Muscatine, IA', 'Lewisburg, PA',
       'Auburn, IN', 'Duncan, OK', 'Sedalia, MO', 'Cedartown, GA',
       'Henderson, NC', 'Aberdeen, SD', 'Rock Springs, WY',
       'Garden City, KS', 'Stephenville, TX', 'Celina, OH',
       'Wilmington, OH', 'Bucyrus, OH', 'Alma, MI', 'El Campo, TX',
       'Mountain Home, AR', 'Gainesville, TX', 'Tifton, GA',
       'Blytheville, AR', 'McMinnville, TN', 'Astoria, OR',
       'Bradford, PA', 'Espa-¦ola, NM', 'McComb, MS', 'Big Stone Gap, VA',
       'Marshalltown, IA', 'Big Rapids, MI', 'Austin, MN',
       'Selinsgrove, PA', 'West Plains, MO', 'Okeechobee, FL',
       'Houghton, MI', 'Moscow, ID', 'Clewiston, FL', 'Riverton, WY',
       'El Dorado, AR', 'Selma, AL', 'Pittsburg, KS', 'Hannibal, MO',
       'Warren, PA', 'Alexandria, MN', 'Urbana, OH', 'Greenwood, MS',
       'Cambridge, OH', 'Williston, ND', 'Defiance, OH', 'Sikeston, MO',
       'Safford, AZ', 'Jacksonville, IL', 'Ada, OK', 'Brownwood, TX',
       'Crawfordsville, IN', 'Logansport, IN', 'Scottsbluff, NE',
       'Natchitoches, LA', 'Newberry, SC', 'Lock Haven, PA',
       'Centralia, IL', 'Easton, MD', 'Owatonna, MN', 'Mount Vernon, IL',
       'Laramie, WY', 'Murray, KY', 'Fremont, NE', 'Bennington, VT',
       'Sault Ste. Marie, MI', 'Campbellsville, KY', 'Dyersburg, TN',
       'Escanaba, MI', 'Mayfield, KY', 'Kill Devil Hills, NC',
       'Sulphur Springs, TX', 'Hutchinson, MN', 'Coshocton, OH',
       'Huntington, IN', 'DeRidder, LA', 'Vincennes, IN', 'Bay City, TX',
       'North Platte, NE', 'Peru, IN', 'Pontiac, IL', 'Lebanon, MO',
       'Newport, TN', 'Decatur, IN', 'Vidalia, GA', 'Brenham, TX',
       'Vernal, UT', 'Ottumwa, IA', 'Butte, MT', 'Corinth, MS',
       'Brookhaven, MS', 'Emporia, KS', 'Jackson, WY', 'Big Spring, TX',
       'Effingham, IL', 'Dodge City, KS', 'Watertown, SD', 'Angola, IN',
       'Dixon, IL', 'Laurinburg, NC', 'Taos, NM', 'Brookings, SD',
       'Americus, GA', 'Columbus, NE', 'Taylorville, IL', 'Arcadia, FL',
       'Lewisburg, TN', 'Seneca Falls, NY', 'Dickinson, ND',
       'Washington, IN', 'Troy, AL', 'Malvern, AR', 'Frankfort, IN',
       'Madison, IN', 'Brevard, NC', 'Susanville, CA', 'Martin, TN',
       'Plainview, TX', 'Dayton, TN', 'Jackson, OH', 'Cambridge, MD',
       'Paris, TN', 'Juneau, AK', 'Coffeyville, KS', 'Las Vegas, NM',
       'Berlin, NH', 'Cleveland, MS', 'Hastings, NE', 'Beeville, TX',
       'Kingsville, TX', 'Wabash, IN', 'Breckenridge, CO',
       'Albert Lea, MN', 'Sheridan, WY', 'Union City, TN', 'Miami, OK',
       'Iron Mountain, MI', 'Jesup, GA', 'McPherson, KS',
       'Kirksville, MO', 'Ludington, MI', 'Bainbridge, GA', 'Alpena, MI',
       'Washington Court House, OH', 'Hays, KS', 'Fort Morgan, CO',
       'Van Wert, OH', 'Kennett, MO', 'Weatherford, OK',
       'Mountain Home, ID', 'Mineral Wells, TX', 'Lincoln, IL',
       'Silver City, NM', 'Elkins, WV', 'Macomb, IL', 'Camden, AR',
       'Crescent City, CA', 'North Vernon, IN', 'Thomaston, GA',
       'Grants, NM', 'Bennettsville, SC', 'Fredericksburg, TX',
       'Toccoa, GA', 'The Dalles, OR', 'Greensburg, IN', 'Indianola, MS',
       'La Grande, OR', 'Ottawa, KS', 'New Ulm, MN', 'Lexington, NE',
       'Great Bend, KS', 'Spearfish, SD', 'Wauchula, FL', 'Marshall, MN',
       'Deming, NM', 'Mexico, MO', 'Fallon, NV', 'Altus, OK',
       'Uvalde, TX', 'Hailey, ID', 'Steamboat Springs, CO',
       'Summerville, GA', 'Moberly, MO', 'Middlesborough, KY',
       'Woodward, OK', 'Prineville, OR', 'Hood River, OR',
       'Forrest City, AR', 'Connersville, IN', 'Mitchell, SD',
       'Marshall, MO', 'Brookings, OR', 'Yankton, SD', 'Wahpeton, ND',
       'Magnolia, AR', 'Elk City, OK', 'Liberal, KS', 'Worthington, MN',
       'Oskaloosa, IA', 'Pampa, TX', 'Clarksdale, MS', 'Sterling, CO',
       'Beatrice, NE', 'Jamestown, ND', 'Levelland, TX', 'Grenada, MS',
       'Maryville, MO', 'Arkadelphia, AR', 'Dumas, TX', 'Guymon, OK',
       'Borger, TX', 'Pierre, SD', 'Huron, SD', 'Storm Lake, IA',
       'Cordele, GA', 'Evanston, WY', 'Raymondville, TX',
       'Port Lavaca, TX', 'Othello, WA', 'Vineyard Haven, MA',
       'Parsons, KS', 'Price, UT', 'Portales, NM', 'Los Alamos, NM',
       'Hereford, TX', 'Andrews, TX', 'Spirit Lake, IA', 'Fitzgerald, GA',
       'Winnemucca, NV', 'Maysville, KY', 'Snyder, TX', 'Helena, AR',
       'Spencer, IA', 'Atchison, KS', 'Fairfield, IA', 'Vermillion, SD',
       'Sweetwater, TX', 'Pecos, TX', 'Zapata, TX', 'Ketchikan, AK',
       'Craig, CO', 'Vernon, TX', 'Lamesa, TX'], dtype=object)

,RegionID,SizeRank,RegionName,StateName,Month Ahead,Quarter Ahead,Year Ahead
1,394913,1,"New York, NY",NY,0.3,0.5,1.5
2,753899,2,"Los Angeles, CA",CA,0.2,0.4,2.3
3,394463,3,"Chicago, IL",IL,0.1,0.2,1.1
4,394514,4,"Dallas, TX",TX,-0.2,-0.7,1.2
5,394692,5,"Houston, TX",TX,-0.2,-0.6,0.6

In [ ]:
# Add "Region" column

Q2) Are the sale prices and inventory listing going up or down overall in the US? - Brian

Q3) Should I wait to invest or should I invest now and if so then where should I invest. (You could recommend more than one place)? - Sipho

Q4) How long some of the real-estate stays on the market before they rent or sell? - Tony

Q5) How much average profit I could expect from my investments in terms of sale (% dollars) after paying mortgage. Calculate my ~ROI

Q6) How much average monthly income I could expect from my investments in terms of lease/rent after upgrading properties, paying mortgage, and paying taxes. Calculate my ~ROI.